<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83137232956-iheu0sbga0n2tdmnl97cfrcn5on7hap6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83137232956-iheu0sbga0n2tdmnl97cfrcn5on7hap6</string>
	<key>API_KEY</key>
	<string>AIzaSyDM6L0g_N1m3uSc6g60Q8WS9P7h6W_moec</string>
	<key>GCM_SENDER_ID</key>
	<string>83137232956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Test.Centimint</string>
	<key>PROJECT_ID</key>
	<string>centimint-781fa</string>
	<key>STORAGE_BUCKET</key>
	<string>centimint-781fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83137232956:ios:01d65f0f6e207017b70339</string>
</dict>
</plist>